@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Book
<div class="card card-outline-primary m-1 p-1">
    <div class="bg-faded p-1">
        <h4>
            @Model.Title
            <span class="badge badge-pill badge-primary" style="float:right">
                <small>BookID: @Model.BookId</small>
            </span>
        </h4>
    </div>
    <div class="card-text p-1">
        <ul>
            <li>Author: @Model.Author </li>
            <li>Category: @Model.Category</li>
            <li>Page Count: @Model.PageCount</li>
            <li>Price: @Model.Price</li>
        
       </ul>
    </div>
    <form method="post" asp-page="/Cart">

        <input type="hidden" asp-for="@Model.BookId"/>
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()"/>
        <span class="card-text">
            <button type="submit" class="btn btn-success btn-sm float-end">Purchase</button>
        </span>
    </form>
</div>
